# IDE and general files
.idea/
.vscode/
*.swp
*.log
.DS_Store

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Node / React
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS related
Thumbs.db
ehthumbs.db
Desktop.ini
